body {
    
    font-family: 'Zen Maru Gothic', sans-serif;
    color: rgb(0, 0, 0);
    background-size: cover;
    


}

h1 {
    font-family: 'Zen Maru Gothic', sans-serif;
    text-align: center;
    border-color: rgb(255, 255, 255);

   
    
}

h3 {
    font-weight: 900;
    color: rgb(0, 0, 0);
    
    
}

a {
    color: rgb(0, 0, 0);
}

hr {
    color: blue;

}
mark{
    background-color: rgb(255, 255, 255);

}
/* kv */
.kv {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kv .main-copy {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    letter-spacing: .2em;
}

.kv .sub-copy {
    color: #fff;
    font-size: 20px;
    text-align: center;
}

/* video */
.video {
    width: 100%;
    height: 100vh;
    background: url(../img/kv-alternative.jpg) no-repeat center/cover;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
}

.video::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #10394b;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    opacity: .3;
}

.video video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

@media screen and (min-width: 768px) {

    /* kv */
    .kv {
        min-width: 960px;
    }

    .kv .main-copy {
        font-size: 60px;
    }

    .kv .sub-copy {
        font-size: 30px;
    }

    /* video */
    .video {
        min-width: 960px;
    }
}
/*下からフェードイン*/
.fade-in-bottom {
    opacity: 0;
    animation-name: fadein-bottom;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes fadein-bottom {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
